<script lang="ts">
	import { page } from '$app/stores';
	import AddVideo from '$lib/components/AddVideo.svelte';
	import Navigation from '$lib/components/Navigation.svelte';
	import UserBar from '$lib/components/UserBar.svelte';
	import { arrow, autoUpdate, computePosition, flip, offset, shift } from '@floating-ui/dom';
	import {
		AppBar,
		AppShell,
		Modal,
		Toast,
		initializeStores,
		storePopup,
		type ModalComponent
	} from '@skeletonlabs/skeleton';
	import '../app.postcss';

	initializeStores();

	storePopup.set({ computePosition, autoUpdate, flip, shift, offset, arrow });

	const modalRegistry: Record<string, ModalComponent> = {
		modalAddVideo: { ref: AddVideo }
	};

	$: sideBarClasses = !$page.data.session?.user ? 'hidden' : `bg-surface-500/5 w-0 lg:w-64`;
</script>

<Modal components={modalRegistry} />
<Toast position="br" />

<AppShell slotSidebarLeft={sideBarClasses} scrollbarGutter="auto">
	<svelte:fragment slot="header">
		<AppBar>
			<strong class="text-xl uppercase" slot="lead">Aesirean Empire - Tools</strong>
			<UserBar slot="trail" />
		</AppBar>
	</svelte:fragment>
	<Navigation slot="sidebarLeft" />
	<div class="m-6 mx-auto max-w-[85rem]">
		<slot />
	</div>
</AppShell>
