<script>
	import Seo from '$lib/components/SEO.svelte';

	const title = 'Home';
</script>

<Seo {title} />
<div class="container h-full mx-auto flex justify-center items-center">
	<div class="space-y-10 text-center flex flex-col items-center">
		<h2 class="h2">Welcome to Aesirean Empire.</h2>
	</div>
</div>
