<script lang="ts">
	import Seo from '$lib/components/SEO.svelte';
	import { getModalStore, type ModalSettings } from '@skeletonlabs/skeleton';
	import type { PageData } from './$types';

	import YoutubeEmbedded from '$lib/components/YoutubeEmbedded.svelte';

	export let data: PageData;

	const modalStore = getModalStore();

	let title = 'FFXIV Duty - ' + data.duty.name;
	let metaDescription = 'Testing Previews';

	function addVideo() {
		const modal: ModalSettings = {
			type: 'component',
			component: 'modalAddVideo',
			title: 'Add Duty Video',
			response: (link) => {
				if (!link) {
					return;
				}
				fetch('?/addVideo', {
					method: 'POST',
					body: JSON.stringify({ duty: data.duty.id, link })
				});
			}
		};
		modalStore.trigger(modal);
	}
</script>

<Seo {title} {metaDescription} image={data.duty.headerImage} />
<div class="flex flex-col gap-6">
	<div class="w-full card p-6">
		<div class="flex flex-row justify-between items-center">
			<h3 class="h3">{data.duty.name}</h3>
			<div class="badge variant-filled-surface">{data.duty.type}</div>
		</div>
	</div>

	<div class="w-full card p-6">
		<div class="flex flex-row justify-between items-center">
			<h4 class="h4">Videos</h4>
			{#if data.session?.user.role === 'ADMIN'}
				<button class="btn variant-filled-primary" on:click={addVideo}>Add Video</button>
			{/if}
		</div>
		<div class="grid grid-cols-2 w-full mx-auto gap-6 my-6">
			{#each data.duty.videos as video}
				<div class="flex flex-row gap-6 items-start w-full">
					<YoutubeEmbedded url={video.url} />
					{#if data.session?.user.role === 'ADMIN'}
						<div class="flex flex-col gap-6">
							<button class="btn variant-filled-primary">Edit</button>
							<button class="btn variant-filled-secondary">Remove</button>
						</div>
					{/if}
				</div>
			{/each}
		</div>
	</div>
</div>
