<script lang="ts">
	import { invalidateAll } from '$app/navigation';
	import type { YoutubeChannelSearchResult } from '$lib/youtube.server';
	import { DateTime } from 'luxon';
	import type { PageData } from './$types';

	export let data: PageData;

	async function addChannelToList(channel: YoutubeChannelSearchResult) {
		await fetch('?/addToList', {
			method: 'POST',
			body: JSON.stringify({ channel })
		});
		await invalidateAll();
	}
</script>

<div class="my-6 card w-full p-6">
	<form method="get">
		<div class="flex flex-row gap-6">
			<input class="input" type="text" placeholder="Enter Youtube Channel Name" name="query" />
			<button class="btn variant-filled-primary" type="submit">Search</button>
		</div>
	</form>
	<div class="flex flex-row justify-end mt-6">
		Last updated: {DateTime.fromISO(data.channels.updatedAt).toRelative()}
	</div>
</div>

<div class="flex flex-col gap-2">
	{#each data.channels.value as channel}
		<a href={`https://www.youtube.com/channel/${channel.channelId}`}>
			<div class="card p-6">
				<div class="flex flex-row justify-between items-center">
					<div class="flex flex-row gap-6 items-center">
						<div>
							<img
								src={channel.thumbnails.default?.url}
								alt={channel.title}
								height={channel.thumbnails.default?.height}
								width={channel.thumbnails.default?.width}
							/>
						</div>
						<div>{channel.title}</div>
					</div>
					<button
						class="btn variant-filled-primary"
						on:click|preventDefault={() => addChannelToList(channel)}
						disabled={data.currentChannelsInList.includes(channel.channelId)}
					>
						{#if data.currentChannelsInList.includes(channel.channelId)}
							Already In List
						{:else}
							Add to List
						{/if}
					</button>
				</div>
			</div>
		</a>
	{/each}
</div>
