<script lang="ts">
	import { invalidateAll } from '$app/navigation';
	import {
		getModalStore,
		getToastStore,
		type ModalSettings,
		type ToastSettings
	} from '@skeletonlabs/skeleton';
	import type { PageData } from './$types';

	export let data: PageData;
	const modalStore = getModalStore();
	const toastStore = getToastStore();

	async function createNewList() {
		const name = await new Promise((resolve) => {
			const modal: ModalSettings = {
				type: 'prompt',
				title: 'New Channel List',
				valueAttr: { type: 'text', minLength: 3, required: true, placeholder: 'List Name' },
				response: (name: string) => {
					resolve(name);
				}
			};
			modalStore.trigger(modal);
		});

		const response = await fetch('?/createList', {
			method: 'POST',
			body: JSON.stringify({ name: name })
		});

		let toast: ToastSettings;
		if (response.ok) {
			toast = {
				message: 'Created New List',
				background: 'variant-filled-success',
				timeout: 10000
			};
		} else {
			toast = {
				message: 'Error Creating List',
				background: 'variant-filled-error',
				timeout: 10000
			};
		}

		toastStore.trigger(toast);
		await invalidateAll();
	}
</script>

<div class="flex flex-row justify-end">
	<button class="btn variant-filled-primary" on:click={createNewList}>Create New List</button>
</div>
<div class="flex flex-row flex-wrap gap-2">
	{#each data.channels as channel}
		<a href={`/youtube/${channel.id}`}>
			<div class="card p-6">
				<div class="flex flex-row justify-between items-center gap-6">
					<div>{channel.name}</div>
					<div class="badge variant-ghost-primary">{channel.channels.length}</div>
				</div>
			</div>
		</a>
	{/each}
</div>
