<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import {
		Paginator,
		Table,
		tableMapperValues,
		type PaginationSettings
	} from '@skeletonlabs/skeleton';
	import type { PageData } from './$types';

	export let data: PageData;

	let paginationSettings: PaginationSettings = {
		page: data.page,
		limit: data.limit,
		size: data.total,
		amounts: [10, 30]
	};

	function rowSelected(e: CustomEvent) {
		goto(`/duties/${e.detail}`);
	}

	function onPageChange(e: CustomEvent) {
		let query = new URLSearchParams($page.url.searchParams.toString());
		query.set('page', e.detail);
		goto(`?${query.toString()}`);
	}

	function onAmountChange(e: CustomEvent) {
		let query = new URLSearchParams($page.url.searchParams.toString());
		query.set('limit', e.detail);
		query.set('page', '0');
		goto(`?${query.toString()}`);
	}
</script>

<Table
	source={{
		head: ['Name'],
		body: tableMapperValues(data.duties, ['name']),
		meta: tableMapperValues(data.duties, ['id'])
	}}
	interactive={true}
	on:selected={rowSelected}
/>

<div class="mt-6">
	<Paginator
		bind:settings={paginationSettings}
		showFirstLastButtons={false}
		showPreviousNextButtons={true}
		on:amount={onAmountChange}
		on:page={onPageChange}
	/>
</div>
