<script lang="ts">
	import type { YoutubeLatestVideosResult } from '$lib/youtube.server';
	import { DateTime } from 'luxon';
	import type { PageData } from './$types';

	export let data: PageData;

	function notWatched(video: YoutubeLatestVideosResult) {
		return true;
	}
</script>

<div class="card p-6 w-full">
	<div class="flex flex-row justify-between items-center gap-6">
		<div>{data.list?.name}</div>
		{#if data.session?.user.role === 'ADMIN'}
			<a href={`/youtube/${data.list?.id}/search`} class="badge variant-ghost-primary">
				Add Channel
			</a>
		{/if}
	</div>
	<div class="flex flex-row justify-between items-end">
		<div>
			<div class="mt-6">Channels</div>
			{#if data.list?.channels}
				{#each data.list?.channels as channel}
					<div>{channel.name}</div>
				{/each}
			{/if}
		</div>
		<div>
			Last updated: {DateTime.fromISO(data.videos.updatedAt).toRelative()}
		</div>
	</div>
</div>

{#if data.videos.value.length > 0}
	<div class="card p-6 w-full my-6">
		<div class="grid grid-cols-4 gap-6">
			{#each data.videos.value as video}
				{#if notWatched(video)}
					<a href={`/youtube/watch/${video['yt:videoId']}`}>
						<div class="flex flex-col">
							<img src={video['media:group']['media:thumbnail'].$.url} alt={video.title} />
							<div>
								{video.title}
							</div>
						</div>
					</a>
				{/if}
			{/each}
		</div>
	</div>
{/if}
