<script lang="ts">
	import { getModalStore } from '@skeletonlabs/skeleton';
	import type { SvelteComponent } from 'svelte';

	export let parent: SvelteComponent;
	let showPreview = false;

	const modalStore = getModalStore();

	const formData = {
		link: ''
	};

	function onFormSubmit() {
		if ($modalStore[0].response) {
			$modalStore[0].response(extractVideoId(formData.link));
		}
		modalStore.close();
	}

	function extractVideoId(url: string): string {
		if (!url.includes('/')) {
			return url;
		}

		const parts = url.split('/');
		return parts[parts.length - 1];
	}

	const cBase = 'card p-4 w-modal-wide shadow-xl space-y-4';
	const cHeader = 'text-2xl font-bold';
	const cForm = 'border border-surface-500 p-4 space-y-4 rounded-container-token';
</script>

{#if $modalStore[0]}
	<div class={cBase}>
		<header class={cHeader}>{$modalStore[0].title ?? '(title missing)'}</header>
		<form class={cForm} on:submit|preventDefault={onFormSubmit}>
			<label class="label">
				<span>Youtube Link</span>
				<input
					class="input"
					type="text"
					bind:value={formData.link}
					on:change={() => (showPreview = false)}
					required
					placeholder="Enter link..."
				/>
			</label>
			<button
				class="btn {parent.buttonNeutral}"
				on:click|preventDefault={() => (showPreview = true)}
			>
				Preview
			</button>

			<footer class={parent.regionFooter}>
				<button class="btn {parent.buttonNeutral}" on:click={parent.onClose}>
					{parent.buttonTextCancel}
				</button>
				<button type="submit" class="btn {parent.buttonPositive}">Add Video</button>
			</footer>
		</form>

		{#if showPreview && formData.link !== ''}
			<iframe
				width="350"
				height="197"
				src="https://www.youtube.com/embed/{extractVideoId(formData.link)}"
				title="Add Video Preview"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
			/>
		{/if}
	</div>
{/if}
