<script lang="ts">
	import { page } from '$app/stores';
</script>

<nav class="list-nav p-4">
	<ul>
		<li><a href="/">Home</a></li>
		{#if $page.data.session?.user}
			<li>
				<a href="/duties">Duties</a>
			</li>
			<li>
				<a href="/youtube">Youtube</a>
			</li>
		{/if}
	</ul>
</nav>
