<script lang="ts">
	export let title: string;
	export let metaDescription: string = 'Tools for Aesirean Empire';
	export let image: string | null = null;
	export let url: string | null = null;

	const pageTitle = `${title} - Aesirean Empire`;
</script>

<svelte:head>
	<title>{pageTitle}</title>
	<meta name="description" content={metaDescription} />
	<meta property="og:description" content={metaDescription} />
	<meta property="og:title" content={pageTitle} />
	{#if image}
		<meta content={image} property="og:image" />
	{/if}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@mssodin28" />
	<meta name="twitter:title" content={pageTitle} />
	<meta name="twitter:description" content={metaDescription} />
	{#if image}
		<meta name="twitter:image" content={image} />
	{/if}
	{#if url}
		<meta property="og:url" content={url} />
	{/if}
</svelte:head>
