<script lang="ts">
	import { page } from '$app/stores';
	import { signIn, signOut } from '@auth/sveltekit/client';
	import { ProgressRadial } from '@skeletonlabs/skeleton';

	let loading = false;
</script>

{#if $page.data.session?.user}
	<div class="flex items-center gap-2">
		<p class="hidden font-bold md:block">{$page.data.session.user.name}</p>
	</div>
	<button
		on:click|once={() => {
			loading = true;
			signOut({
				redirect: true,
				callbackUrl: '/'
			});
		}}
		class="variant-filled-primary btn"
		disabled={loading}
	>
		{#if loading}
			<ProgressRadial class="ml-2 h-6 w-6" stroke={100} />
		{:else}
			Log out
		{/if}
	</button>
{:else}
	<button
		on:click|once={() => {
			loading = true;
			signIn('authentik');
		}}
		class="variant-filled-primary btn cursor-pointer"
	>
		{#if loading}
			<ProgressRadial class="ml-2 h-6 w-6" stroke={100} />
		{:else}
			Login
		{/if}
	</button>
{/if}
