<script lang="ts">
	import { invalidateAll } from '$app/navigation';
	import YoutubeEmbedded from '$lib/components/YoutubeEmbedded.svelte';
	import type { PageData } from './$types';

	export let data: PageData;

	async function markAsWatched() {
		await fetch('?', { method: 'POST', body: JSON.stringify({}) });
		await invalidateAll();
	}
</script>

<div class="card p-6 w-full">
	<YoutubeEmbedded url={data.videoUrl} />
	<div class="mt-6 flex flex-row justify-end">
		<button
			class={`btn ${data.watched ? 'variant-filled-secondary' : 'variant-filled-primary'}`}
			on:click={markAsWatched}
		>
			{#if data.watched}
				Mark as Unwatched
			{:else}
				Mark as Watched
			{/if}
		</button>
	</div>
</div>
